@import url('https://fonts.googleapis.com/css?family=Roboto:500');

$transition-duration: 0.5s;
$theme-color: #feab59;

html {
  position: fixed;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100vw;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > h1 {
    text-align: center;
    margin-top: 12px;
    color: $theme-color;
  }
}

.switches-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 10px;
  background: $theme-color;
}

.wall {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  transition: background-color $transition-duration;
  
  h1 {
    position: absolute;
    top: 20px;
    transition: color $transition-duration;
  }

  &:nth-child(1) {
    margin-right: 10px;
  }
  
  &.bright {
    background-color: white;
    
    h1 {
      color: $theme-color;
    }
  }

  &.dark {
    background-color: lighten($theme-color, 15%);
    
    h1 {
      color: white;
      text-shadow: 0px 0px 1px $theme-color;
    }
  }  
  
  .switch-outer {
    position: relative;
    height: 175px;
    width: 70px;
    border-radius: 16px;
    display: inline-block;
    background: #c8c8c8;
    margin-top: 65px;
    
    .switch-inner {
      height: 85px;
      width: 52px;
      background: white;
      position: absolute;
      left: 9px;
      top: 8px;
      border-radius: 10px;
      transition: top $transition-duration;
  
      &.off {
        top: 82px;
      }
    }
  }
}
